@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

.muy-grande {
    font-size: 2rem;
}